/* ================
CONFIGURE GRID
=================== */
body {
    margin: auto;
    font-family: 'Lato', sans-serif;
    display: grid;
    width: 100%;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main"
      
}
    
/* ================
SVGs
=================== */

#bell {
    transition: 1s ease-in transform;
}

#bell:hover {
    transform: rotate(360deg);
}

#twitter-icon-div {
    background-color: #8080ff;
    border-radius: 50%;
    width: 80px;
    padding: 10px;
    display: inline-block;
}

#facebook-icon-div {
    background-color: #8080ff;
    border-radius: 50%;
    width: 80px;
    padding: 10px;
    display: inline-block;
}

#google-icon-div {
    background-color: #8080ff;
    border-radius: 50%;
    width: 80px;
    padding: 10px;
    display: inline-block;
}

#twitter-icon,
#facebook-icon,
#google-icon {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 0px;
}


    


/* ================
HEADER
=================== */
sup {
    font-size: 10px;
}
.profile-image {
    border-radius: 50%;
    width: 50px;
    float: right;
    padding-top: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.title {
    display: inline-block;
    font-size: 22px;
    font-weight: 100;
    padding-left: 4px;
    line-height: 30px;
}

span {
    font-weight: 900;
}

.profile-name {
    float: right;
    padding-top: 5px;
    margin-top: 20px;
    padding-right: 5px;
}

header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-area: header;
    background-color:#8080ff;
    color: white;
}

#notify {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    float: right;
    margin-top: 5px;

}

#notifications {
    float: right;
    padding-right: 10px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 10px;
    margin-bottom: 2px;
    border-right: solid darkslategray 1px;
    width: 30px;
    height: 100%;
}
/* ================
NAVIGATION
=================== */

.sidebar {
    grid-area: nav;
    background-color: darkslateblue; 
    padding-left: 20px;
}

.sidebar-image {
    width: 30px;
    margin: 0 auto;
    display: inline-block;
    padding: 15px 15px;
}

/* ================
TOP TAB
=================== */
.main {
    grid-area: main;
}

.dash-title {
    display: inline-block;
    margin-top: 20px; 
    margin-left: 20px;
    align-content: top;
}

.dash-title h2 {
    margin-top: 0px;
}

.input-top {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  background-color: #F0F8FF; 
  float: right;
  width: 50%;
}

.input-top input {
    background-image: url('icons/icon-magnifying.svg');
    background-origin: content-box;
    padding: 10px 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    height: 35px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-position: right;
    width: 70%;
    float: right;
}

input::placeholder {
    font-size: 20px;
    color: gray;
}

/* ================
ALERT
=================== */

#alert {
    background-color: #8080ff;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px; 
    margin-left: 5px;
    border-radius: 5px;
    width:85%;
}

#alert strong {
    padding-right: 15px;
    font-size: 18px;
}

#close {
    float: right;
    font-size: 28px;
    padding-right: 5px;
    padding-top: 0px;
    margin-top: -5px;

}

/* ================
TRAFFIC
=================== */

.traffic {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

#weekly,
#daily,
#hourly,
#monthly {
    border-radius: 15px;
    padding: 6px;
    margin: 5px;
}

#weekly {
    background-color: limegreen;
}

.timeCharts {
    display: inline-block;
    float: right;
}

#chartSpot {
    display: none;
}

#chartSpot2 {
    display: none;
}
#chartSpot3 {
    display: none;
}
#chartSpot4 {
    display: none;
}

/* ================
DAILY & USERS
=================== */

.daily {
    padding: 10px;
    text-align: center;
}

.mobile {
    padding: 10px;
    text-align: center;
}

/* ================
SOCIAL
=================== */
#social-title {
    border-top: 1px solid lightgray;
    padding: 5px;
    margin: 0;
    text-align: center;
}
#twitter-div {
    margin: 15px;
}

#facebook-div {
    margin: 15px;
}

#google-div {
    margin: 15px;
}

#twitter-div,
#facebook-div,
#google-div {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    background-color: #F5F5F5;
}

.social-text {
    margin: 0 auto;
    display: inline-block;
    padding: 0px;
    color: #8080ff;
}

.social-text p {
    font-size: 40px;
    font-weight: 100;
    margin-top: 0px;
    color: gray;
}
/* ================
NEW & RECENT
=================== */

.new {
    border-top: lightgray 1px solid;
    padding-left: 5px;
    padding-right: 5px;
}

.new h3 {
    text-align: center;
}

.username {
    padding: 0px;
    margin: 0px;
    display: inline-block;
}


.email {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    color: rgb(76, 76, 158);
}

.member {
    display: inline-block;
    padding-left: 2px;
    padding-bottom: 5px;
}

.userPost {
    border-bottom: solid lightgray 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.userPost img {
    width: 40px;
    padding: 2px;
    display: inline-block; 
}

.date {
   float: right;
}

.recent {
    padding-left: 5px;
    border-top: lightgray 1px solid;
}

.recent h3 {
    text-align: center;
}

.userActivity img {
    width: 40px;
    margin: 10px;
    display: inline-block;
}

.userActivity {
    border-bottom: solid lightgray 1px;
    display: inline-block;
    width: 100vw;
}

.status {
    padding: 2px;
}

.comment {
    display: inline-block;
    padding: 2px;
    margin: 2px;
}

.time {
    padding-left: 5px;
    float: right;
    margin: 20px;
}

.arrow {
    float: right;
    font-size: 24px;
    color: blue;
    margin-top: 20px;
    margin-right:10px;
}
/* ================
msg & settings
=================== */

#suggestions {
    width: 60%;
    margin-left: 20px;
}

#suggestions div {
    border: 1px solid lightgray;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
}

#suggestions div:hover {
   background-color: gray;
   color: white;
   cursor: pointer;
}

.message {
    margin-bottom: 10px;
}

.message h3 {
    margin-left: 30px;
    text-align: center;
}

textarea {
    height:150px;
    width: 80vw;
}

textarea,
.message form input {
    display: block;
    border-radius: 5px;
    background-color: #F5F5F5;
    border: 1px solid lightgray;
    margin: 5px 20px;
    padding: 10px;
    font-size: 20px;
}

button {
    background-color:#8080ff;
    color: white;
    height: 40px;
    padding: 0px;
    width: 88vw;
    font-size: 14px;
    border-radius: 5px;
    margin: 0 20px;
}

.message form input {
    height: 30px;
    width: 80vw;
}



.settings {
    text-align: center;
    border-top: 1px solid lightgray;
}

.settings h3 {
    margin-left: 20px;
}

select {
    display: block;
    font-size: 18px;
    color: gray;
    width: 85vw;
    height: 40px;
    margin: 20px;
    border: 1px solid lightgray;
}

.settings-button {
    background-color:#8080ff;
    color: white;
    height: 30px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 5px;
    width: 90px;
    font-size: 20px;
    border-radius: 30px;
    margin: 15.5px 30px;
    box-shadow: inset 0 0 10px #0000;
    display: inline-block;
}

.settings-label {
    padding-left: 20px;
    margin-bottom: 20px;
    width: 200px;
    display: inline-block;
}

.radio {
    height: 20px;
    width: 25px;
    border: 1px solid gray;
    display: inline-block;
    margin-left: 10px;
    margin-top: 6px;
    border-radius: 50%;

}

#save {
    background-color:#8080ff;
    display: inline-block;
    height: 40px;
    padding: 5px;
    width: 80vw;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 10px;
    color: white;
}

#cancel {
    color: white;
    background-color: gray;
    display: inline-block;
    height: 40px;
    padding: 5px;
    width: 80vw;
    font-size: 14px;
    border-radius: 5px;
    margin: 10px;
    color: white;
}

.main {
    display: grid;
}



/* ****************
MEDIA QUERIES
***************** */
@media (min-width: 768px) {

 
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: grid; 
    width: 100%;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "nav main";
}


.traffic, .social, #top-line {
    grid-column: 1 / span 2;
    display: inline-block;
}

.daily, .new, .message {
    grid-column: 1 / span 1;
    display: inline-block;
}

.mobile, .recent, .settings {
    grid-column: 2 / span 1;
}

    .sidebar img {
        padding-left: 2px;
        padding-top: 30px;
    }

    #alert {
        width: 92%;
    }

    .title {
        font-size: 32px;
        padding-left: 20px;
    }

    .input-top {
        width: 70%;
    }
    
    .input-top input {
        width: 80%;
    }

    .sidebar-image {
        width: 60px;
        padding: 20px 10px 0px 0px;
    }   
    
    .profile-image,
    .profile-name,
    #notifications
     {
        padding-left: 15px;
        padding-right: 15px;
    }

    #bell {
        width: 40px;
    }
    #twitter-div,
    #facebook-div,
    #google-div {
        display: inline-block;
        width: 28%;
    }

    #facebook-icon-div,
    #google-icon-div {
        width: 22%;
        height: 30%;
        margin-top: 20px;

    }

    #twitter-icon-div {
    width: 22%;
    height: 30%;
    margin-top: 10px;
    }

    #facebook-icon { 
        margin-top: -5px;
    }
    .social-text p {
        font-size: 20px;
    }
    .social-text {
        margin-left: 10px;
    }
    
    .userPost {
        padding-top: 15px;
    }

    .userActivity {
        width: 100%;
    }

    .userActivity img {
        margin-bottom: 0px;
    }
    .message form input,
    textarea,
    .message form button {
        width: 35vw;
        margin-top: 30px;
    }

    textarea {
        height: 200px;
    }

    .message {
        align-content: center;
    }

    .message form button {
        padding-right: 30px;
        padding-left: 30px;
    }

    .message h3 {
        margin-left: 1px;
    }
    
    #send-message button {
        width: 38vw;
    }

    select,
    #save,
    #cancel {
        width: 40vw;
    }

    select {
        margin: 30px auto;
    }

}

@media (min-width: 1024px) {

    .new h3 {
        margin-bottom: 40px;
        float: left;
        margin-right: 260px;
    }
    .userPost {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .userPost img {
        float: left;
    }

    select {
        margin-left: 45px;
    }

    .message {
        padding-left: 20px;
        border-right: lightgray 1px solid;
    }

    .save,
    .cancel {
        width: 20vw;
    }

    textarea {
        height: 100px;
    }

    .new {
        border-right: 1px solid lightgray;
    }

    #trafficHead,
    .daily h2,
    .mobile h2,
    #social-title h2,
    .recent h3,
    .message h3,
    .settings h3 {
        float: left;
        margin-right: 260px;
        margin-bottom: 20px
    }
    
    #social-title {
        width: 100%;
        height: 50px;
        display: block;
    }

    #social-title h2 {
        margin-right: 500px;
    }

    #send-message button {
        margin-top: 25px;
    }
}