/* ================
CONFIGURE GRID
=================== */
body {
    margin: auto;
    font-family: 'Lato', sans-serif;
}

#charts {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 200px 1fr 1fr 300px;
    grid-template-rows: 100px 420px 420px;
    grid-template-areas: 
        "sidebar dashTitle input input input"
        "sidebar traffic traffic traffic traffic"
        "sidebar daily daily mobile mobile";
}

#social {
    display: grid;
    width: 100%;
    grid-template-columns: 100px repeat(3, 350px);
    grid-template-rows: 70px 200px;
    grid-column-gap: 50px;
    grid-template-areas: 
        "sidebar2 socialTitle socialTitle socialTitle"
        "sidebar2 twitter facebook google"
}

#bottom {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-template-areas:
        "sidebar3 new recent"
        "sidebar3 message settings"

}
      
/* ================
SVGs
=================== */

.bell {
    float: right;
    padding-right: 20px;
    margin-top: 25px;
    border-right: solid darkslategray 1px;
    width: 30px;
    transition: transform 1s ease-in;
    transform-origin: 50% 50%;
}

.bell:hover {
    transform: scale(1.2);
}

#twitter-icon,
#facebook-icon,
#google-icon {
    width: 80px;
    padding: 30px;
    float: left; 
    /* background-color: #8080ff;
    border-radius: 50%; */
}
    


/* ================
NAVIGATION 
=================== */
sup {
    font-size: 10px;
}
.profile-image {
    border-radius: 50%;
    width: 50px;
    display: inline-block;
    float: right;
    padding-top: 10px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.title {
    display: inline-block;
    font-size: 30px;
    font-weight: 100;
}

span {
    font-weight: 900;
}

.profile-name {
    float: right;
    padding-top: 10px;
    margin-top: 20px;
    padding-right: 20px;
}

nav {
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-area: nav;
    background-color:#8080ff;
    height: 80px;
    color: white;
}
/* ================
SIDEBAR
=================== */

.sidebar {
    grid-area: sidebar;
    background-color: darkslateblue; 
    width: 100px;
}

.sidebar-image {
    width: 60px;
    margin: 0 auto;
    display: block;
    padding: 35px 15px;
}

.sidebar2 {
    grid-area: sidebar2;
    background-color: darkslateblue; 
    width: 100px;
}

.sidebar3 {
    grid-area: sidebar3;
    background-color: darkslateblue; 
    width: 100px;
}

/* ================
TOP TAB
=================== */

.dash-title {
    grid-area: dashTitle;
    width: 100vw;
    padding: 20px;
  
}

.input-top {
  grid-area: input;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  background-color: #F0F8FF;
}

input {
    background-image: url('icons/icon-magnifying.svg');
    background-origin: content-box;
    padding: 2px 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    margin-top: 20px;
    margin-right: 100px;
    float: right;
    width: 300px;
    border-radius: 5px;
    background-position: right;
}

input::placeholder {
    font-size: 20px;
    color: gray;
}

/* ================
TRAFFIC
=================== */

.traffic {
    grid-area: traffic; 
    width: 750px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.traffic p {
    display: inline-block;
    float: right;
    padding: 0 20px;
}

.traffic h2 {
    display: inline-block;
    float: left;
}

#trafficHead {
    margin: 5px 20px;
}

/* ================
DAILY & USERS
=================== */

.daily {
    grid-area: daily;
    width: 400px;
    padding-right: 50px;
    border-right: 1px solid lightgray;
}

.mobile {
    grid-area: mobile;
    width: 400px;
}

/* ================
SOCIAL
=================== */
#social-title {
    grid-area: socialTitle;
    border-top: 1px solid lightgray;
    padding: 0px;
    margin: 0;
}
#twitter-div {
    grid-area: twitter;
}

#facebook-div {
    grid-area: facebook;
}

#google-div {
    grid-area: google;
}

#twitter-div,
#facebook-div,
#google-div {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    background-color: #F5F5F5;
}

.social-text {
    margin: 0 auto;
    display: inline-block;
    padding: 20px;
    color: #8080ff;
}

.social-text p {
    font-size: 40px;
    font-weight: 100;
    margin-top: 0px;
}
/* ================
NEW & RECENT
=================== */

.new {
    grid-area: new;
    border-right: lightgray 1px solid;
}

.username, .email {
    display: inline-block;
    padding: 10px;
}

.userPost {
    border-bottom: solid lightgray 1px;
}

.userPost img {
    width: 40px;
}

.date {
    float: right;
    display: inline-block;
}

.recent {
    grid-area: recent;
}

.message {
    grid-area: message;
}

.settings {
    grid-area: settings;
}

